<footer class="footer navbar d-flex flex-wrap navbar-expand-lg mt-auto bg-light">
    <div class="container">
  
      <span class="col-md-4 mb-0">&copy; Project.</span>
  
        <!-- <ul class="nav fa-lg col-md-4 justify-content-end">
            <li class="nav-item">
                <a href="https://github.com/BraydanBrown/CRUD-Project" target="_blank" class="nav-link px-2">
                <i class="fa-brands fa-github" aria-hidden="true"></i>
                <span class="sr-only">GitHub</span></a>
            </li>
        </ul> -->
    </div>
</footer>