<!--NavBar -->
<nav class="navbar navbar-dark navbar-expand-lg pb-3 bg-dark">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav ms-auto"> 
  
          <li class="nav-item">
            <% if (title == "Splash") { %>
              <a class="nav-link active" href="/home">
            <% } else { %>
              <a class="nav-link" href="/home">
            <% } %>
              Home</a>
          </li>

          <li class="nav-item">
<<<<<<< Updated upstream
            <% if (title == "incident List") { %>
              <a class="nav-link active" href="/incident-list">
=======
            <% if (title == "Incident List") { %>
              <a class="nav-link active" href="/assignment-list">
>>>>>>> Stashed changes
            <% } else { %>
              <a class="nav-link" href="/incident-list">
            <% } %> Database</a>
          </li>
  
      </div>
    </div>
</nav>