<!--NavBar -->
+<nav class="navbar navbar-dark navbar-expand-lg pb-4 bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img class="logo" src="/photos/Crash_&_Dash_Insurance.png"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav ms-auto"> 
  
          <li class="nav-item">
            <% if (title == "Landing Page") { %>
              <a class="nav-link active" href="/home">
            <% } else { %>
              <a class="nav-link" href="/home">
            <% } %>
              Home</a>
          </li>

          <li class="nav-item">
            <% if (title == "Incident Records") { %>
              <a class="nav-link active" href="/incident-list">
            <% } else { %>
              <a class="nav-link" href="/incident-list">
            <% } %> Database</a>
          </li>

          <% if(typeof displayName == 'string' && displayName) { %>
            <li class="navbar-text">
              <i class="fas fa-lg fa-user"></i> 
              <%= displayName %>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/logout">
              <i class="fas fa-lg fa-sign-out-alt"></i>Logout</a>
            </li>

          <% } else { %>
            <li class="nav-item"></li>
              <a href="/login" class="nav-link">
              <i class="fas fa-lg fa-sign-in-alt"></i>Login</a>
            </li>
          <% } %>

            
      </div>
    </div>
</nav>