<%- include('partials/header.ejs') %>
<%- include('partials/main_nav.ejs') %>

<!-- Main Content -->
<main>
  <div class="jumbotron jumbotron-fluid flex-shrink-0 py-5">
    
    <div class="d-flex flex-row justify-content-end">

      <div class="align-self-center text-center w-100" style="color: var(--bs-white);">
        <p class="textLanding fw-bold text-center mb-4">Incident and Accident Reporting?<br><b class="companyName">Crash & Dash Insurance</b><br>has your back</p>
        <button class="btn btn-primary fs-5 py-2" type="button" id="splash-button" onclick="location.href='/incident-list'">Manage Incident Records</button>
      </div>

      <div class="align-self-center">
        <img class="img-fluid" src="/photos/car-pic2.jpg" height="auto">
      </div>

    </div>

  </div>
</main>

<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>