<%- include('partials/header.ejs') %>
<%- include('partials/main_nav.ejs') %>

<!-- Main Content -->
<main>
  <div class="jumbotron jumbotron-fluid flex-shrink-0 py-5">
    
    <div class="container">

      <div class="text-center p-4 p-lg-5" style="color: var(--bs-white);">
        <p class="fw-bold text-center mb-2">Assignment 3</p>
        <h1 class="fw-bold text-center mb-4">Assignment Tracker CRUD Application</br>Using NodeJS, ExpressJS, MongoDB, Mongoose, EJS.</h1>
        <button class="btn btn-primary fs-5 py-2 px-4" type="button" id="splash-button" onclick="location.href='/assignment-list'">Manage Database</button>
      </div>

    </div>
  </div>
</main>

<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>