.logo
{
    height: 70px;
}
.logo:hover
{
    opacity: 20%;
}
.companyName
{
    background: -webkit-linear-gradient(140deg, rgba(242,230,167,1) 0%, rgba(191,162,107,1) 81%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-item
{
    letter-spacing: 1px;
} 

/* Login Page */
#GithubLogin
{
    background-color: #6F6BF2;
    letter-spacing: 2px;
}
#GoogleLogin
{
    background-color: white;
    letter-spacing: 2px;
}
#FacebookLogin
{
    background-color: #3b5998;
    letter-spacing: 2px;
}
