.logo
{
    height: 70px;
}
.logo:hover
{
    opacity: 20%;
}
.companyName
{
    background: -webkit-linear-gradient(140deg, rgba(242,230,167,1) 0%, rgba(191,162,107,1) 81%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-item
{
    letter-spacing: 1px;
} 